In [1]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("data/Combined_Results.csv")

In [11]:
df.head()

,USER ID,ASSIGNMENT ID,TEAM ID,FAST TAGGING LOG VALUES,FAST TAGGING SECONDS,ALPHA VALUES,NUMBER OF TAGS SET,NUMBER OF TAGS ASSIGNED,PATTERN FOUND OR NOT,PATTERN,PATTERN REPETITION,TOTAL REPEATING CHARACTERS,CREDIBILITY
0,10176,1151,37418,1.217,2.324,,33,57,Not_found,NaN,NaN,0.0,
1,10178,1151,37393,1.52,2.868,,51,51,Not_found,NaN,NaN,0.0,
2,10181,1151,37393,1.886,3.697,,51,51,Not_found,NaN,NaN,0.0,
3,10182,1151,37416,0.286,1.219,,45,45,Not_found,NaN,NaN,0.0,
4,10183,1151,37412,1.14,2.204,,72,72,Not_found,NaN,NaN,0.0,

In [12]:
df.drop(['ALPHA VALUES', 'PATTERN FOUND OR NOT', 'PATTERN', 'TOTAL REPEATING CHARACTERS', 'PATTERN REPETITION', 'CREDIBILITY'],axis=1)

,USER ID,ASSIGNMENT ID,TEAM ID,FAST TAGGING LOG VALUES,FAST TAGGING SECONDS,NUMBER OF TAGS SET,NUMBER OF TAGS ASSIGNED
0,10176,1151,37418,1.217,2.324,33,57
1,10178,1151,37393,1.52,2.868,51,51
2,10181,1151,37393,1.886,3.697,51,51
3,10182,1151,37416,0.286,1.219,45,45
4,10183,1151,37412,1.14,2.204,72,72
5,10186,1151,37402,3.468,11.069,39,39
6,10187,1151,37415,1.205,2.306,78,78
7,10191,1151,37396,2.123,4.356,62,63
8,10192,1151,37413,0.784,1.722,81,120
9,10193,1151,37390,2.09,4.258,54,72
10,10194,1151,37416,0.935,1.912,45,45
11,10195,1151,37408,1.737,3.334,63,63
12,10196,1151,37408,0.474,1.389,60,63
13,10201,1151,37399,1.66,3.160,60,84
14,10202,1151,37396,3.427,10.752,63,63
15,10203,1151,37414,1.957,3.882,66,102
16,10204,1151,37405,1.353,2.554,63,81
17,10205,1151,37390,2.599,6.059,54,72
18,10206,1151,37389,2.048,4.135,36,39
19,10207,1151,37398,4.062,16.700,45,54
20,10208,1151,37406,3.636,12.436,21,30
21,10210,1151,37409,1.916,3.773,69,99
22,10214,1151,37415,2.772,6.830,78,78
23,10215,1151,37406,,0.500,1,30
24,10216,1151,37403,2.466,5.526,66,66
25,10219,1151,37398,1.298,2.459,45,54
26,10220,1151,37398,0.235,1.177,45,54
27,10222,1151,37403,1.017,2.024,66,66
28,10223,1151,37399,1.465,2.761,60,84
29,10224,1151,37394,1.422,2.680,84,87
30,10225,1151,37402,2.655,6.300,4,39
31,10226,1151,37399,1.501,2.830,60,84
32,10227,1151,37403,2.03,4.083,66,66
33,10229,1151,37388,2.563,5.910,69,84
34,10230,1151,37408,1.307,2.475,63,63
35,10231,1151,37414,1.079,2.113,54,102
36,10233,1151,37409,1.337,2.526,69,99
37,10234,1151,37394,1.766,3.400,84,87
38,10235,1151,37418,2.919,7.562,33,57
39,10238,1151,37412,4.117,17.346,72,72
40,10240,1151,37397,2.293,4.901,63,66
41,10242,1151,37391,2.229,4.689,84,138
42,10244,1151,37414,2.015,4.043,54,102
43,10248,1151,37391,1.327,2.509,84,138
44,10249,1151,37412,5.855,57.895,72,72
45,10250,1151,37397,2.045,4.126,63,66
46,10251,1151,37397,1.942,3.843,63,66
47,10252,1151,37396,0.537,1.450,63,63
48,10254,1151,37400,1.264,2.402,45,57
49,10262,1151,37388,1.984,3.957,66,84
50,10265,1151,37400,0.307,1.237,51,57
51,10266,1151,37417,1.95,3.865,78,87
52,10270,1151,37389,2.852,7.220,36,39
53,10271,1151,37411,1.926,3.799,90,90

In [14]:
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Model

In [21]:
X=df[['FAST TAGGING LOG VALUES','FAST TAGGING SECONDS','NUMBER OF TAGS ASSIGNED','NUMBER OF TAGS SET']]

In [22]:
scaler=StandardScaler()

In [28]:
X.dropna()
X.head()

,FAST TAGGING LOG VALUES,FAST TAGGING SECONDS,NUMBER OF TAGS ASSIGNED,NUMBER OF TAGS SET
0,1.217,2.324,57,33
1,1.52,2.868,51,51
2,1.886,3.697,51,51
3,0.286,1.219,45,45
4,1.14,2.204,72,72

In [29]:
X.dtypes

FAST TAGGING LOG VALUES     object
FAST TAGGING SECONDS       float64
NUMBER OF TAGS ASSIGNED      int64
NUMBER OF TAGS SET           int64
dtype: object

In [31]:
X['FAST TAGGING LOG VALUES'].replace(' ', np.nan, inplace=True)

C:\Users\saail ganesh\AppData\Local\Temp\ipykernel_22568\3010809591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['FAST TAGGING LOG VALUES'].replace(' ', np.nan, inplace=True)

In [32]:
X['FAST TAGGING LOG VALUES']= X['FAST TAGGING LOG VALUES'].astype(float)

C:\Users\saail ganesh\AppData\Local\Temp\ipykernel_22568\2860463293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['FAST TAGGING LOG VALUES']= X['FAST TAGGING LOG VALUES'].astype(float)

In [34]:
X.dropna()
X.head(5)

,FAST TAGGING LOG VALUES,FAST TAGGING SECONDS,NUMBER OF TAGS ASSIGNED,NUMBER OF TAGS SET
0,1.217,2.324,57,33
1,1.520,2.868,51,51
2,1.886,3.697,51,51
3,0.286,1.219,45,45
4,1.140,2.204,72,72

In [35]:
X.dtypes

FAST TAGGING LOG VALUES    float64
FAST TAGGING SECONDS       float64
NUMBER OF TAGS ASSIGNED      int64
NUMBER OF TAGS SET           int64
dtype: object

In [64]:
X_s= scaler.fit_transform(X)

In [65]:
inputdim=X_s.shape[1]

In [66]:
input_layer = Input(shape=(inputdim,))

In [67]:
enc=2

In [68]:
encoded= Dense(enc, activation='relu')(input_layer)
decoded = Dense(inputdim, activation='sigmoid')(encoded)

In [69]:
autoencoder= Model(input_layer, decoded)

In [70]:
autoencoder.compile(optimizer='adam', loss='mse')

In [71]:
autoencoder.fit(X_s,X_s, epochs=50, batch_size=32, shuffle=True, validation_split=0.2)

Epoch 1/50
2/2 [==============================] - 1s 338ms/step - loss: 1.0638 - val_loss: 2.0066
Epoch 2/50
2/2 [==============================] - 0s 73ms/step - loss: 1.0627 - val_loss: 2.0056
Epoch 3/50
2/2 [==============================] - 0s 70ms/step - loss: 1.0615 - val_loss: 2.0046
Epoch 4/50
2/2 [==============================] - 0s 63ms/step - loss: 1.0603 - val_loss: 2.0035
Epoch 5/50
2/2 [==============================] - 0s 67ms/step - loss: 1.0591 - val_loss: 2.0024
Epoch 6/50
2/2 [==============================] - 0s 68ms/step - loss: 1.0579 - val_loss: 2.0013
Epoch 7/50
2/2 [==============================] - 0s 73ms/step - loss: 1.0567 - val_loss: 2.0003
Epoch 8/50
2/2 [==============================] - 0s 88ms/step - loss: 1.0555 - val_loss: 1.9992
Epoch 9/50
2/2 [==============================] - 0s 66ms/step - loss: 1.0544 - val_loss: 1.9982
Epoch 10/50
2/2 [==============================] - 0s 75ms/step - loss: 1.0532 - val_loss: 1.9971
Epoch 11/50
2/2 [==============================] - 0s 75ms/step - loss: 1.0519 - val_loss: 1.9960
Epoch 12/50
2/2 [==============================] - 0s 94ms/step - loss: 1.0508 - val_loss: 1.9950
Epoch 13/50
2/2 [==============================] - 0s 77ms/step - loss: 1.0496 - val_loss: 1.9939
Epoch 14/50
2/2 [==============================] - 0s 59ms/step - loss: 1.0484 - val_loss: 1.9928
Epoch 15/50
2/2 [==============================] - 0s 65ms/step - loss: 1.0473 - val_loss: 1.9917
Epoch 16/50
2/2 [==============================] - 0s 58ms/step - loss: 1.0461 - val_loss: 1.9906
Epoch 17/50
2/2 [==============================] - 0s 62ms/step - loss: 1.0449 - val_loss: 1.9895
Epoch 18/50
2/2 [==============================] - 0s 66ms/step - loss: 1.0437 - val_loss: 1.9884
Epoch 19/50
2/2 [==============================] - 0s 64ms/step - loss: 1.0425 - val_loss: 1.9874
Epoch 20/50
2/2 [==============================] - 0s 68ms/step - loss: 1.0414 - val_loss: 1.9863
Epoch 21/50
2/2 [==============================] - 0s 66ms/step - loss: 1.0402 - val_loss: 1.9852
Epoch 22/50
2/2 [==============================] - 0s 60ms/step - loss: 1.0390 - val_loss: 1.9841
Epoch 23/50
2/2 [==============================] - 0s 60ms/step - loss: 1.0379 - val_loss: 1.9830
Epoch 24/50
2/2 [==============================] - 0s 63ms/step - loss: 1.0366 - val_loss: 1.9819
Epoch 25/50
2/2 [==============================] - 0s 96ms/step - loss: 1.0354 - val_loss: 1.9808
Epoch 26/50
2/2 [==============================] - 0s 79ms/step - loss: 1.0342 - val_loss: 1.9796
Epoch 27/50
2/2 [==============================] - 0s 60ms/step - loss: 1.0330 - val_loss: 1.9785
Epoch 28/50
2/2 [==============================] - 0s 59ms/step - loss: 1.0319 - val_loss: 1.9773
Epoch 29/50
2/2 [==============================] - 0s 59ms/step - loss: 1.0306 - val_loss: 1.9762
Epoch 30/50
2/2 [==============================] - 0s 60ms/step - loss: 1.0294 - val_loss: 1.9750
Epoch 31/50
2/2 [==============================] - 0s 67ms/step - loss: 1.0282 - val_loss: 1.9739
Epoch 32/50
2/2 [==============================] - 0s 73ms/step - loss: 1.0270 - val_loss: 1.9727
Epoch 33/50
2/2 [==============================] - 0s 85ms/step - loss: 1.0257 - val_loss: 1.9715
Epoch 34/50
2/2 [==============================] - 0s 82ms/step - loss: 1.0245 - val_loss: 1.9703
Epoch 35/50
2/2 [==============================] - 0s 79ms/step - loss: 1.0233 - val_loss: 1.9691
Epoch 36/50
2/2 [==============================] - 0s 176ms/step - loss: 1.0220 - val_loss: 1.9679
Epoch 37/50
2/2 [==============================] - 0s 99ms/step - loss: 1.0208 - val_loss: 1.9667
Epoch 38/50
2/2 [==============================] - 0s 69ms/step - loss: 1.0195 - val_loss: 1.9655
Epoch 39/50
2/2 [==============================] - 0s 58ms/step - loss: 1.0183 - val_loss: 1.9643
Epoch 40/50
2/2 [==============================] - 0s 57ms/step - loss: 1.0171 - val_loss: 1.9632
Epoch 41/50
2/2 [==============================] - 0s 58ms/step - loss: 1.0158 - val_loss: 1.9620
Epoch 42/50
2/2 [==============================] - 0s 57ms/step - loss: 1.0146 - val_loss: 1.9608
Epoch 43/50
2/2 [==============================] - 0s 56ms/step - loss: 1.0134 - val_loss: 1.9597
Epoch 44/50
2/2 [==============================] - 0s 58ms/step - loss: 1.0122 - val_loss: 1.9585
Epoch 45/50
2/2 [==============================] - 0s 58ms/step - loss: 1.0110 - val_loss: 1.9573
Epoch 46/50
2/2 [==============================] - 0s 62ms/step - loss: 1.0097 - val_loss: 1.9561
Epoch 47/50
2/2 [==============================] - 0s 61ms/step - loss: 1.0085 - val_loss: 1.9548
Epoch 48/50
2/2 [==============================] - 0s 63ms/step - loss: 1.0073 - val_loss: 1.9536
Epoch 49/50
2/2 [==============================] - 0s 68ms/step - loss: 1.0061 - val_loss: 1.9525
Epoch 50/50
2/2 [==============================] - 0s 77ms/step - loss: 1.0048 - val_loss: 1.9513

In [47]:
X.isnull().sum()

FAST TAGGING LOG VALUES    1
FAST TAGGING SECONDS       0
NUMBER OF TAGS ASSIGNED    0
NUMBER OF TAGS SET         0
dtype: int64

In [63]:
np.isfinite(X).all

<bound method NDFrame._add_numeric_operations.<locals>.all of     FAST TAGGING LOG VALUES  FAST TAGGING SECONDS  NUMBER OF TAGS ASSIGNED
0                      True                  True                     True  \
1                      True                  True                     True
2                      True                  True                     True
3                      True                  True                     True
4                      True                  True                     True
5                      True                  True                     True
6                      True                  True                     True
7                      True                  True                     True
8                      True                  True                     True
9                      True                  True                     True
10                     True                  True                     True
11                     True                  True                     True
12                     True                  True                     True
13                     True                  True                     True
14                     True                  True                     True
15                     True                  True                     True
16                     True                  True                     True
17                     True                  True                     True
18                     True                  True                     True
19                     True                  True                     True
20                     True                  True                     True
21                     True                  True                     True
22                     True                  True                     True
24                     True                  True                     True
25                     True                  True                     True
26                     True                  True                     True
27                     True                  True                     True
28                     True                  True                     True
29                     True                  True                     True
30                     True                  True                     True
31                     True                  True                     True
32                     True                  True                     True
33                     True                  True                     True
34                     True                  True                     True
35                     True                  True                     True
36                     True                  True                     True
37                     True                  True                     True
38                     True                  True                     True
39                     True                  True                     True
40                     True                  True                     True
41                     True                  True                     True
42                     True                  True                     True
43                     True                  True                     True
44                     True                  True                     True
45                     True                  True                     True
46                     True                  True                     True
47                     True                  True                     True
48                     True                  True                     True
49                     True                  True                     True
50                     True                  True                     True
51                     True                  True                     True
52                     True                  True                     True
53                     True                  True                     True

    NUMBER OF TAGS SET
0                 True
1                 True
2                 True
3                 True
4                 True
5                 True
6                 True
7                 True
8                 True
9                 True
10                True
11                True
12                True
13                True
14                True
15                True
16                True
17                True
18                True
19                True
20                True
21                True
22                True
24                True
25                True
26                True
27                True
28                True
29                True
30                True
31                True
32                True
33                True
34                True
35                True
36                True
37                True
38                True
39                True
40                True
41                True
42                True
43                True
44                True
45                True
46                True
47                True
48                True
49                True
50                True
51                True
52                True
53                True  >

In [52]:
X[X==np.inf]=np.nan

In [53]:
X.dropna()

,FAST TAGGING LOG VALUES,FAST TAGGING SECONDS,NUMBER OF TAGS ASSIGNED,NUMBER OF TAGS SET
0,1.217,2.324,57,33
1,1.520,2.868,51,51
2,1.886,3.697,51,51
3,0.286,1.219,45,45
4,1.140,2.204,72,72
5,3.468,11.069,39,39
6,1.205,2.306,78,78
7,2.123,4.356,63,62
8,0.784,1.722,120,81
9,2.090,4.258,72,54
10,0.935,1.912,45,45
11,1.737,3.334,63,63
12,0.474,1.389,63,60
13,1.660,3.160,84,60
14,3.427,10.752,63,63
15,1.957,3.882,102,66
16,1.353,2.554,81,63
17,2.599,6.059,72,54
18,2.048,4.135,39,36
19,4.062,16.700,54,45
20,3.636,12.436,30,21
21,1.916,3.773,99,69
22,2.772,6.830,78,78
24,2.466,5.526,66,66
25,1.298,2.459,54,45
26,0.235,1.177,54,45
27,1.017,2.024,66,66
28,1.465,2.761,84,60
29,1.422,2.680,87,84
30,2.655,6.300,39,4
31,1.501,2.830,84,60
32,2.030,4.083,66,66
33,2.563,5.910,84,69
34,1.307,2.475,63,63
35,1.079,2.113,102,54
36,1.337,2.526,99,69
37,1.766,3.400,87,84
38,2.919,7.562,57,33
39,4.117,17.346,72,72
40,2.293,4.901,66,63
41,2.229,4.689,138,84
42,2.015,4.043,102,54
43,1.327,2.509,138,84
44,5.855,57.895,72,72
45,2.045,4.126,66,63
46,1.942,3.843,66,63
47,0.537,1.450,63,63
48,1.264,2.402,57,45
49,1.984,3.957,84,66
50,0.307,1.237,57,51
51,1.950,3.865,87,78
52,2.852,7.220,39,36
53,1.926,3.799,90,90

In [59]:
X.reset_index(drop=True)

,FAST TAGGING LOG VALUES,FAST TAGGING SECONDS,NUMBER OF TAGS ASSIGNED,NUMBER OF TAGS SET
0,1.217,2.324,57,33
1,1.520,2.868,51,51
2,1.886,3.697,51,51
3,0.286,1.219,45,45
4,1.140,2.204,72,72
5,3.468,11.069,39,39
6,1.205,2.306,78,78
7,2.123,4.356,63,62
8,0.784,1.722,120,81
9,2.090,4.258,72,54
10,0.935,1.912,45,45
11,1.737,3.334,63,63
12,0.474,1.389,63,60
13,1.660,3.160,84,60
14,3.427,10.752,63,63
15,1.957,3.882,102,66
16,1.353,2.554,81,63
17,2.599,6.059,72,54
18,2.048,4.135,39,36
19,4.062,16.700,54,45
20,3.636,12.436,30,21
21,1.916,3.773,99,69
22,2.772,6.830,78,78
23,NaN,0.500,30,1
24,2.466,5.526,66,66
25,1.298,2.459,54,45
26,0.235,1.177,54,45
27,1.017,2.024,66,66
28,1.465,2.761,84,60
29,1.422,2.680,87,84
30,2.655,6.300,39,4
31,1.501,2.830,84,60
32,2.030,4.083,66,66
33,2.563,5.910,84,69
34,1.307,2.475,63,63
35,1.079,2.113,102,54
36,1.337,2.526,99,69
37,1.766,3.400,87,84
38,2.919,7.562,57,33
39,4.117,17.346,72,72
40,2.293,4.901,66,63
41,2.229,4.689,138,84
42,2.015,4.043,102,54
43,1.327,2.509,138,84
44,5.855,57.895,72,72
45,2.045,4.126,66,63
46,1.942,3.843,66,63
47,0.537,1.450,63,63
48,1.264,2.402,57,45
49,1.984,3.957,84,66
50,0.307,1.237,57,51
51,1.950,3.865,87,78
52,2.852,7.220,39,36
53,1.926,3.799,90,90

In [62]:
X.dropna(inplace=True)